# Hugo build output
public/
resources/
.hugo_build.lock

# Temporary files and folders
*.log
*.tmp
.DS_Store

# OS-specific files
Thumbs.db

# Node.js dependencies
node_modules/

# IDE/editor specific files
.vscode/
.idea/
*.swp